.content{
  width: 100%;

  min-height: 960px;
  padding-top: 100px;
  display: flex;
  justify-content: center;

}
.content__main {
  display: flex;
  width: 808px;
  margin: 0 auto;
  flex-direction: column;
  min-height: 960px;

  @media (max-width: 710px) {
    padding-top: 200px;
  }
}

.content__caption {
  margin-bottom: 10px;
  font-size: 45px;
  line-height: 54px;
  font-weight: bold;
  text-transform: uppercase;

  @media (max-width: 710px) {
    font-size: 35px;
    line-height: 44px;
  }
}

.content__caption span {
  font-size: 35px;
  line-height: 42px;
  font-weight: 400;
  color: #5CD9F8;

  @media (max-width: 710px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.content__subcaption {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin: 0;

  &--mobile {
    display: none;
    @media (max-width: 900px) {
      display: inline-block;
      margin-top: 20px;
    }
  }

  @media (max-width: 710px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.content__subcaption span {
  color: #BDF040;
}

.content__buttons {
  display: flex;
  margin: 45px 0;
  width: 100%;
  justify-content: center;
}
