.home--link {
  position: absolute;
  z-index: 111;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  background: linear-gradient(180deg, #5CD9F8 0%, #23A0BF 100%);
  border: 1px solid #43BCDA;
  box-shadow: inset 0px 6px 13px #8AE8FF;

  &:hover {
    transition: 0.5s;
    box-shadow: inset 0px 6px 13px #DEFC95,
    0px 0px 20px 1px rgba(67,188,218,0.64);
  }

  @media (min-width: 1151px) {
    display: none;
  }
}
