/* Слайдер */
.slick-slider {
  width: 808px;
  padding: 0 53px;
  height: 538px;
  position: relative;

  background-image: url("../img/screen.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  margin-top: 35px;
  display: flex;
}

/* Слайд */
.slick-slide {
  display: flex;
  height: 290px;
  justify-content: center;
  background-image: url("../img/slide-bg.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Точки (булиты) */
.slick-dots {
  position: relative;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 1111;
  background-color: transparent;
}

.slick-dots li{
  list-style: none;
  margin: 0 11px;
}
/* Активная точка */
.slick-dots li.slick-active button{
  background: linear-gradient(180deg,#bdf040 0,#8bb32a 100%);
}
/* Элемент точки */
.slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  border: 1px solid gray;
  background-color: transparent;
}

.slider__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.slider__text {
  font-size: 24px;
  line-height: 28px;
  text-align: left;

  &--colored {
    color: #5CD9F8;
  }

  &--large {
    padding-top: 6px;
    margin-right: 14px;
    font-size: 95px;
    line-height: 21px;
    color: #5CD9F8;
  }
}
