/* Слайдер */
.slick-slider {
  width: 808px;
  padding: 0 51px;
  height: 538px;
  position: relative;

  background-image: url("../img/screen.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1150px) {
    margin: 0 auto;
    height: 363px;
  }

  @media (max-width: 830px) {
    padding: 0 31px;
    width: 540px;
    height: 254px;
  }

  @media (max-width: 560px) {
    padding: 0 21px;
    width: 320px;
    height: 150px;
  }

  @media (max-width: 330px) {
    margin-left: -10px;
  }
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  margin-top: 35px;
  display: flex;

  @media (max-width: 830px) {
    margin-top: 20px;
  }

  @media (max-width: 560px) {
    margin-top: 10px;
  }
}

/* Слайд */
.slick-slide {
  display: flex;
  height: 300px;
  justify-content: center;
  background-image: url("../img/slide-bg.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 830px) {
    height: 200px;
  }

  @media (max-width: 560px) {
    height: 120px;
  }
}

/* Точки (булиты) */
.slick-dots {
  position: relative;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 1111;
  background-color: transparent;

  @media (max-width: 560px) {
    font-size: 15px;
    line-height: 19px;
  }
}

.slick-dots li{
  list-style: none;
  margin: 0 11px;
}
/* Активная точка */
.slick-dots li.slick-active button{
  background: linear-gradient(180deg,#bdf040 0,#8bb32a 100%);
}
/* Элемент точки */
.slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  border: 1px solid gray;
  background-color: transparent;
  cursor: pointer;
}

.slider__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  @media (max-width: 830px) {
    width: 80%;
  }

  @media (max-width: 560px) {
    width: 100%;
  }
}

.slider__text {
  font-size: 24px;
  line-height: 28px;
  text-align: left;

  @media (max-width: 830px) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: 560px) {
    font-size: 14px;
    line-height: 19px;
  }

  &--colored {
    color: #5CD9F8;
  }

  &--large {
    padding-top: 6px;
    margin-right: 14px;
    font-size: 95px;
    line-height: 21px;
    color: #5CD9F8;

    @media (max-width: 830px) {
      font-size: 75px;
    }

    @media (max-width: 560px) {
      font-size: 54px;
    }
  }
}
