.main {
  flex: 1 1 auto;
  text-align: center;

  height: 100vh;
  min-height: 960px;
  // background: linear-gradient(180deg, rgba(4, 28, 42, 0.92) 41%, rgba(4, 28, 42, 0) 53.48%);
  background-image: url("../img/city-bg.png");
  background-position: bottom;
  background-repeat: repeat-x;
}
