.main {
  position: relative;
  flex: 1 1 auto;
  text-align: center;

  height: 100vh;
  min-height: 960px;

  background-image: url("../img/city-bg.png");
  background-position: bottom;
  background-repeat: repeat-x;

  @media (max-width: 1151px) {
    height: auto;
    background-image: none;
  }
}

